.addOrder {
    // color: #aaa;
    color:red;
    padding: 20px 60px;
    .addOrderContent {
        display: flex;
        padding: 20px 60px;
        width: 100%;
        height: 100%;
        >div {
            flex: 1;
            padding: 20px;
        }
    }
}